*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Georgia, serif;
}

body{
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(to bottom,#ff5a1f,#000);
}

.container{
    text-align:center;
}

.container img{
    width:200px;
    margin-bottom:20px;
    border-radius:50%;
}
.logo{
    width:90px;
    margin-bottom:10px;
}

h1{
    font-size:30px;
    margin-bottom:8px;
}

.texto{
    font-size:15px;
    margin-bottom:30px;
}

h2{
    margin-bottom:20px;
    font-weight:normal;
}

.opcoes{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-bottom:35px;
}

.card{
    width:150px;
    background:#d5b7a4;
    border-radius:10px;
    padding:12px;

    display:flex;
    flex-direction:column;
    align-items:center;

    transition:.3s;
}

.card:hover{
    transform:scale(1.05);
    cursor:pointer;
}

.card img{
    width:90px;
    height:90px;
    border-radius:50%;
    background:white;
    border:3px solid #000;
    object-fit:cover;
    margin-bottom:10px;
}

.card a{
    text-decoration:none;
    color:black;
    font-size:26px;
}

button{
    background:#2b170f;
    color:white;
    border:none;
    padding:10px 35px;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#44261a;
}